---
import "../styles/main.css";
import Scrollindicator from "../components/Scrollindicator.astro"
import Logoheader from "../components/Logo-header.astro"
import Navigation from "../components/Navigation.astro"
---
<div class="scroll_indicator">
    <Scrollindicator />
  </div>
  <div class="header_logo_container">
<Logoheader />
  </div>
<div class="header_nav_container"><Navigation /></div>
<style>
    .scroll_indicator {
  position: sticky;
  top: 0;
 
}
.header_logo_container
{
    position: sticky;
  top: 0;
}
.header_nav_container{
  position: sticky;
  top: 0;
}
</style>