---
---
<div id="nav-bar-top">
    <nav class="topnav">
        <a href="#sec1">Hvem er vi?</a>
        <a href="#sec2">Syerske</a>
        <a href="#sec3">Repair service</a>
        <a href="#sec4">Samarbejde</a>
        <a href="#sec5">Q&A</a>
    </nav></div>

<style>
     a{
      
      display: flex;
      justify-content: center;
      align-items: center;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: var(--font-weight-light);
       background-color: #DDD7CB;
       width: 130px;
       height: 40px;
       border-radius: 100px;
       color: black;
       text-decoration: none;
   }
   #nav-bar-top{
    
    position: sticky;
    }
    .topnav{
      
        display: flex;
        flex-direction: row;
        justify-content: center;
       gap: 30px;
       padding-top: 25px;
       flex-wrap: wrap;
    }
   
</style>